.sidebar {
  width: 180px;
  background: #fafafa;
  border-right: 2px solid #eee;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.menu-item {
  font-size: 26px;
  font-weight: bold;
  color: #222;
  padding: 32px 0 32px 30px;
  cursor: pointer;
  border-bottom: 2px solid #eee;
  transition: background 0.2s;
}
.menu-item.selected {
  background: #fff;
  color: #111;
} 