.post-management-container {
  padding: 25px;
  background-color: #fff;
  min-height: 100vh;
}

.post-management-container .el-tabs__header {
  margin-bottom: 25px;
}

.post-management-container .el-tabs__item {
  font-size: 16px;
  font-weight: 500;
}

.post-management-container .el-table th {
  background-color: #fafafa !important;
  font-weight: bold;
  color: #303133;
  font-size: 15px;
}

.post-management-container .el-table td {
  font-weight: 400;
  color: #606266;
  font-size: 15px;
}

.action-link {
  color: #151719;
  text-decoration: none;
  cursor: pointer;
  margin-right: 15px;
}

.action-link:hover {
  text-decoration: underline;
}